<div style="width: 1440px; height: 1024px; position: relative; background: white">
    <div style="width: 1494px; height: 102px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1440px; height: 74px; left: 0px; top: 0px; position: absolute; background: #595E47"></div>
        <div
            style="width: 344px; height: 92px; left: 1150px; top: 10px; position: absolute; text-align: justify; color: #E8E0D5; font-size: 45px; font-family: Roboto; font-weight: 700; line-height: 52px; word-wrap: break-word">
            EcoCompass</div> <img style="width: 90.93px; height: 84px; left: 0px; top: 0px; position: absolute"
            src="https://via.placeholder.com/91x84" />
    </div>
    <div
        style="width: 1172px; height: 334px; left: 62px; top: 143px; position: absolute; background: white; border-radius: 4px; overflow: hidden; border: 1px #FFFCFC solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0.05); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div
                        style="flex: 1 1 0; color: black; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 15.60px; word-wrap: break-word">
                        Start Date</div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0.05); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div
                        style="flex: 1 1 0; color: black; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 15.60px; word-wrap: break-word">
                        End Date</div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0.05); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div
                        style="flex: 1 1 0; color: black; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 15.60px; word-wrap: break-word">
                        Category</div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0.05); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div
                        style="flex: 1 1 0; color: black; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 15.60px; word-wrap: break-word">
                        Company</div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0.05); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div
                        style="flex: 1 1 0; color: black; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 15.60px; word-wrap: break-word">
                        CO2 estimate</div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0.05); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div
                        style="flex: 1 1 0; color: black; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 15.60px; word-wrap: break-word">
                        CO2 after top-up</div>
                </div>
            </div>
        </div>
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div
                        style="flex: 1 1 0; opacity: 0.20; color: black; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 15.60px; word-wrap: break-word">
                        2024/07/01</div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
        </div>
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
        </div>
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
        </div>
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
        </div>
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
        </div>
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
        </div>
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
        </div>
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
        </div>
        <div
            style="align-self: stretch; background: rgba(255, 255, 255, 0); justify-content: flex-start; align-items: flex-start; display: inline-flex">
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
            <div
                style="flex: 1 1 0; align-self: stretch; background: rgba(255, 255, 255, 0); border-left: 1px #5B5B5B solid; border-top: 1px #5B5B5B solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                <div
                    style="align-self: stretch; padding-left: 12px; padding-right: 12px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div style="flex: 1 1 0"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 532px; height: 265px; left: 89px; top: 549px; position: absolute; background: #D9D9D9"></div>
    <div
        style="padding-bottom: 65px; left: 720px; top: 549px; position: absolute; justify-content: flex-end; align-items: center; display: inline-flex">
        <div
            style="width: 668px; height: 200px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="height: 170.80px; position: relative">
                <div
                    style="width: 0px; height: 160px; left: 32px; top: 3.54px; position: absolute; border: 1px black solid">
                </div>
                <div style="width: 32px; height: 170.80px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 19px; height: 15px; left: 13px; top: 155.80px; position: absolute">
                        <div
                            style="width: 6px; height: 0px; left: 13px; top: 7.74px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 0px; position: absolute; text-align: right; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            0</div>
                    </div>
                    <div style="width: 26px; height: 15px; left: 6px; top: 115.80px; position: absolute">
                        <div
                            style="width: 6px; height: 0px; left: 20px; top: 7.74px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 0px; position: absolute; text-align: right; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            25</div>
                    </div>
                    <div style="width: 26px; height: 15px; left: 6px; top: 75.80px; position: absolute">
                        <div
                            style="width: 6px; height: 0px; left: 20px; top: 7.74px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 0px; position: absolute; text-align: right; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            50</div>
                    </div>
                    <div style="width: 26px; height: 15px; left: 6px; top: 35.80px; position: absolute">
                        <div
                            style="width: 6px; height: 0px; left: 20px; top: 7.74px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 0px; position: absolute; text-align: right; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            75</div>
                    </div>
                    <div style="width: 32px; height: 15px; left: 0px; top: 0px; position: absolute">
                        <div
                            style="width: 6px; height: 0px; left: 26px; top: 3.54px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 0px; position: absolute; text-align: right; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            100</div>
                    </div>
                </div>
            </div>
            <div style="width: 598px; height: 160px; position: relative">
                <div style="width: 598px; height: 160px; left: 0px; top: 0px; position: absolute">
                    <div
                        style="width: 598px; height: 0px; left: 0px; top: 160px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 598px; height: 0px; left: 0px; top: 120px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 598px; height: 0px; left: 0px; top: 80px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 598px; height: 0px; left: 0px; top: 40px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 598px; height: 0px; left: 0px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                </div>
                <div style="width: 598px; height: 160px; left: 0px; top: 0px; position: absolute">
                    <div
                        style="width: 0px; height: 160px; left: 0px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 0px; height: 160px; left: 66.44px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 0px; height: 160px; left: 132.89px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 0px; height: 160px; left: 199.33px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 0px; height: 160px; left: 265.78px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 0px; height: 160px; left: 332.22px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 0px; height: 160px; left: 398.67px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 0px; height: 160px; left: 465.11px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 0px; height: 160px; left: 531.56px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                    <div
                        style="width: 0px; height: 160px; left: 598px; top: 0px; position: absolute; border: 1px #CCCCCC solid">
                    </div>
                </div>
            </div>
            <div style="width: 604px; height: 130.80px; position: relative">
                <div
                    style="width: 598px; height: 124.80px; left: 3px; top: 3px; position: absolute; border: 1px #2828B5 solid">
                </div>
                <div style="width: 604px; height: 130.80px; left: 0px; top: 0px; position: absolute">
                    <div
                        style="width: 6px; height: 6px; left: 0px; top: 124.80px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 66.44px; top: 96px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 132.89px; top: 0px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 199.33px; top: 73.60px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 265.78px; top: 19.20px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 332.22px; top: 92.80px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 398.67px; top: 40px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 465.11px; top: 3.20px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 531.56px; top: 30.40px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 598px; top: 25.60px; position: absolute; background: white; border: 1px #2828B5 solid">
                    </div>
                </div>
            </div>
            <div style="width: 604px; height: 113.20px; position: relative">
                <div
                    style="width: 598px; height: 107.20px; left: 3px; top: 3px; position: absolute; border: 1px #73BF6D solid">
                </div>
                <div style="width: 604px; height: 113.20px; left: 0px; top: 0px; position: absolute">
                    <div
                        style="width: 6px; height: 6px; left: 0px; top: 75.20px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 66.44px; top: 27.20px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 132.89px; top: 60.80px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 199.33px; top: 20.80px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 265.78px; top: 25.60px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 332.22px; top: 107.20px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 398.67px; top: 104px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 465.11px; top: 17.60px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 531.56px; top: 0px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                    <div
                        style="width: 6px; height: 6px; left: 598px; top: 24px; position: absolute; background: white; border: 1px #73BF6D solid">
                    </div>
                </div>
            </div>
            <div style="height: 29.52px; position: relative">
                <div
                    style="width: 598px; height: 0px; left: 4px; top: 0px; position: absolute; border: 1px black solid">
                </div>
                <div style="width: 606px; height: 29.52px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 8px; height: 29.52px; left: 0px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 4px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            0</div>
                    </div>
                    <div style="width: 6px; height: 29.52px; left: 67.44px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 3px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            1</div>
                    </div>
                    <div style="width: 8px; height: 29.52px; left: 132.89px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 4px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            2</div>
                    </div>
                    <div style="width: 8px; height: 29.52px; left: 199.33px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 4px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            3</div>
                    </div>
                    <div style="width: 8px; height: 29.52px; left: 265.78px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 4px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            4</div>
                    </div>
                    <div style="width: 8px; height: 29.52px; left: 332.22px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 4px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            5</div>
                    </div>
                    <div style="width: 8px; height: 29.52px; left: 398.67px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 4px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            6</div>
                    </div>
                    <div style="width: 7px; height: 29.52px; left: 465.61px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 3.50px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            7</div>
                    </div>
                    <div style="width: 8px; height: 29.52px; left: 531.56px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 4px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            8</div>
                    </div>
                    <div style="width: 8px; height: 29.52px; left: 598px; top: 0px; position: absolute">
                        <div
                            style="width: 0px; height: 6px; left: 4px; top: 0px; position: absolute; border: 1px black solid">
                        </div>
                        <div
                            style="left: 0px; top: 14.52px; position: absolute; text-align: center; color: black; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                            9</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        style="width: 48px; height: 48px; padding-left: 6px; padding-right: 6px; padding-top: 4px; padding-bottom: 4px; left: 62px; top: 938px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 36px; height: 40px; border: 4px #1E1E1E solid"></div>
    </div>
</div>